{% extends "base.html.twig" %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('index') }}">Strona główna</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ category.label }}</li>
        </ol>
    </nav>
{% endblock %}

{% block menu %}
    <ul class="menu">
    {% for submenu in menu %}
        {% if submenu.children is defined %}
            <li>{{ submenu.label }}</li>
            <ul>
                {% for item in submenu.children %}
                    <li>
                        <a href="{{ path('category', {'url': item.url}) }}" {% if item.url == category.url %}class="active"{% endif %}>
                            {{ item.label|e }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <li>
                <a href="{{ path('category', {'url': submenu.url}) }}" {% if submenu.url == category.url %}class="active"{% endif %}>
                    {{ submenu.label|e }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
{% endblock %}

{% block content %}

    <h3 class="main-content-label">O nas</h3>
    <hr class="article-separator">
    <p class="main-content-paragraph">
        Zajmujemy się kompleksową obsługą reklamową oraz poligraficzną firm, instytucji oraz klientów indywidualnych. Doskonale wiemy, że tylko oferując pełen wachlarz rozwiązań reklamowych jesteśmy w stanie zaspokoić indywidualne potrzeby naszych kontrahentów.<br />
    </p>
    <br /><br /><br />
    <h3 class="main-content-label">Dlaczego my?</h3>
    <hr class="article-separator">
    <p class="main-content-paragraph">
    Po 1. korzystamy z profesjonalnych urządzeń oraz współpracujemy z najlepszymi partnerami co pozwala nam oferować wysoką jakość produktów i konkurencyjne ceny<br />
    <br />
    Po 2. doskonale zdajemy sobie sprawę jak cenny jest czas naszych klientów, dlatego działamy tak, aby zabierać go jak najmniej<br />
    <br />
    Po 3. do każdego klienta podchodzimy indywidualnie i z pełnym zaangażowaniem<br />
    <br />
    Po 4. zawsze dotrzymujemy terminów, działamy szybko, sprawnie i przede wszystkim bardzo skutecznie<br />
    <br />
    Nasz cel to zapewnić naszym klientom kompleksową obsługę reklamową w najbardziej korzystnym terminie, jakości i cenie.<br />
    <br />
    Zapraszamy do zapoznania się z naszą ofertą.
    </p>

{% endblock %}
