{% extends "base_2columns.html.twig" %}

{% block title %}
    {{ category.name }}
{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('index') }}">Strona główna</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ category.name }}</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    {{ static_content | raw }}
    {% if realizations is not empty %}
        <br />
        <hr class="article-separator">
        <h6 class="main-content-label">Przykładowe realizacje</h6>
        <div class="row">
            {% for realization in realizations %}
                <div class="col-6 col-sm-4 col-lg-3 mt-3">
                    <a href="/images/{{ realization.image }}" data-toggle="lightbox" data-title="{{ realization.title }}" data-gallery="galeria-realizacji">
                        <img class="img-fluid img-thumbnail" src="/images/{{ realization.image }}" alt="{{ realization.title }}" />
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
